:root {
  font-family: 'Courier New', monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #fff;
  color: inherit;
}

#root {
  width: 100%;
}
